.main-footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	margin: 0;
	width: 100%;
	background-color: $color-bg-light3;
	height: 3rem;

	p{
		font-size: 0.75rem;
		color: $color-typography2;
		text-align: center;
		margin: 0;
		line-height: 3rem;
		opacity: 0.4;
	}
}
