.alert{
	background-color: $color-bg-light1;
	padding: 0.75rem 1.25rem;
	line-height: 2rem;
	border: 0;
	font-weight: normal; 
	border-radius: 4px;
	position: relative;

	&--small{
		padding: 1rem;
		font-size: 0.85rem;
		border-radius: 0.5rem;
		padding-left: 2rem;
		line-height: 1.5;
	}

	&--info{

	}

	&-success, &--success{
		background-color: $color-notification-success-bright;
		color: $color-notification-success;
		//padding-left: 6rem;
	}

	&-info, &--info{
		color: $color-notification-info;
		background-color: $color-notification-info-bright;
	}

	&__icon{
		//float: left;
		margin-right: 1rem;
		position: absolute;
		left: 1.5rem;

		.check-wrapper{
			background-color: $color-notification-success;
			width: 3rem;
    		height: 3rem;
    		margin-right: 1rem;
    		border-radius: 50%;
    		line-height: 3.7rem;
    		text-align: center;
		}
	}

	&__title{
		margin: 0;
		margin-bottom: 0.5rem;
		font-size: 1rem;
		font-weight: normal;
	}


	.alert-heading:last-child {
		margin-bottom: 0;
	}
}

.check-wrapper{
	text-align: center;
	margin-top: 1rem;
	img{
	    background-color: $color-notification-success;
	    width: 3rem;
	    height: 3rem;
	    margin-right: 1rem;
	    border-radius: 50%;
	    padding: 0.85rem;
		vertical-align: middle;
	}
	.section-title{
		display: inline-block;
	}

}