.screen {
  display: none;

  &:first-of-type {
    display: block;
  }
}

.item {
  border: 1px solid #ccc;
  width: 160px;
  padding: 5px;

  .item--title {
    font-weight: bold;
  }
  .item--image img {
    max-width: 150px;
  }
}

.badge {
  border: 1px solid #ccc;
  width: 160px;
  float: right;
  padding: 5px;
  text-align: center;

  .badge--title {
    font-size: 1.4em;
  }

  .badge--rating img {
    width: 25px;
  }

  .badge--verify img {
    max-width: 90%;
    margin: 10px 0 3px 0;
    text-align: center;
  }
}

.shipping--powered-by img {
  width: 150px;
}

.checkout--header {
  background: linear-gradient(to right, #00846b, #004d47);
  text-align: center;

  img {
    width: 150px;
  }
}

.checkout--rating img {
  width: 20px;
}
