.screen {
  display: none;

  &:first-of-type {
    display: block;
  }
}

// Modal Screen
.modal-screen {
  display: none;

  &:first-of-type {
    display: block;
  }
}

.item {
  border: 1px solid #ccc;
  width: 160px;
  padding: 5px;

  .item--title {
    font-weight: bold;
  }
  .item--image img {
    max-width: 150px;
  }
}

.badge {
  border: 1px solid $color-bg-light1;
  width: 160px;
  //float: right;
  padding: 0.75rem;
  text-align: center;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0 0 2px $color-bg-light2;

  &__title {
    font-size: 1rem;
    font-family: $font-serif;
    letter-spacing: -0.5px; 
    color: $color-typography1;   
    margin-bottom: 0.25rem;
  }

  &__text{
    font-size: 0.75rem;
    color: $color-typography2;

    hr{
      border: 0;
      border-bottom: 1px solid $color-bg-light1;
      outline: 0;
      margin: 0.5rem 0;
    }
  }

  &__rating img {
    width: 1rem;
  }

  &__verify img {
    max-width: 90%;
    margin: 10px 0 3px 0;
    text-align: center;
  }
}

.shipping--powered-by img {
  width: 150px;
}

.checkout-header {
  background: linear-gradient(to right, #00846b, #004d47);
  text-align: center;
  width: 100%;
  position: absolute;
  top: 4rem;
  height: 2.5rem;
  line-height: 2.5rem;

  img {
    //width: 150px;
    height: 100%;
  }
}

.checkout--rating img {
  width: 20px;
}

.checkout-body{
  margin-top: 4rem;
}

.delivery{
  padding-left: 1.5rem;
  position: relative;
  margin-top: 1rem;
  img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0.5rem;
  }
}

.bitcoin-payment{
  margin-top: 2rem;
}
.checkout-complete{
  margin-top: 2rem;
}
